/*******GENERELLE INDSTILLINGER**********/
* {
    margin: 0;
}

img {
    width: 100%;
}

section {
    width: 100vw;
    max-width: 1100px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 0 auto;
    cursor: pointer:
}

main section {
    display: block;
}

.hidden {
    display: none;
}

h1 {
    text-align: center;
    font-family: pt-serif, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    padding-top: 50px;
}


header {
    background-image: url(imgs/lille-100.jpg);
    min-height: 100px;
    background-size: cover;
    margin-bottom: 10px;
}

header nav a {
    font-family: pt-sans, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: black;
    text-decoration: none;
    font-size: 1.7rem;
}

/*******SINGLEVIEW POPOP START*********/
#popop {
    z-index: 5;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
}

#popop article {
    background-color: white;
    height: auto;
    width: 50vw;
    margin-top: 100px;
    margin-left: 40px;
    padding-bottom: 30px;
}

#popop article img {
    max-width: 100%;
    box-shadow: 0px 0px 15px 0px rgba(179, 179, 179, 1);
}

#popop .navn {
    padding-left: 10px;
    padding-top: 5px;
}

#popop p {
    padding: 10px;
    font-family: pt-sans, sans-serif;
    font-style: normal;
    font-size: 1rem;
}

#luk {
    position: fixed;
    font-size: 3rem;
    color: #F2A20C;
    background-color: transparent;
    padding: .1em;
    cursor: pointer;
    border: none;
    box-shadow: 2px;
}

/*******SINGLEVIEW POPOP SLUT*********/

/*******HEADER NAVIGATION START*********/
#menuknap {
    display: inline-block;
    font-family: pt-sans, sans-serif;
    font-size: 2.5rem;
    cursor: pointer;
    padding-bottom: 10px;
    margin-left: 10px;
    color: white;
}

#menu {
    list-style-type: none;
    z-index: +1;
    padding-bottom: 15px;
}

header nav a {
    font-family: pt-serif, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    text-decoration: none;
    padding-right: 10px;
    color: white;
    padding-left: 30px;
}

/****Header Web*****/
@media (min-width:765px) {
    header {
        background-image: url(imgs/stor-100.jpg);
        min-height: 250px;
        background-size: cover;
        margin-bottom: 10px;
    }

    #menuknap {
        display: none;
    }

    #menu.hidden {
        display: initial;
    }

    #menu li {
        display: inline-block;
        padding-bottom: 10px;
        padding-top: 5px;
        float: right;
    }

    header nav a {
        font-family: pt-serif, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
        text-decoration: none;
        padding-right: 50px;
        color: white;

    }

    #menu {
        position: fixed;
        top: 0;
        width: 100%;
    }
}

/*******HEADER NAVIGATION SLUT*********/

/*******MENUKORT NAVIGATION START*********/
#menukortknap {
    display: block;
    font-family: pt-serif, serif;
    font-style: normal;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #F2A20C;
    color: white;
    padding: 15px 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}

#menukort {
    list-style-type: none;
    z-index: +1;
}

button.filter {
    cursor: pointer;
    border: none;
    background-color: #F2A20C;
    color: white;
    padding: 15px 20px;
    margin-bottom: 2px;
    width: 100%;
    text-align: left;
    font-size: 1rem;
}

button:hover {
    background-color: #EAC68C;
}

ul {
    list-style: none;
    display: block;
    padding: 5px 10px;
}

/****MENUKORT Web*****/
@media (min-width:765px) {

    h1 {
        padding-top: 15px;
        padding-bottom: 20px;
    }

    header h1 {
        position: fixed;
        color: #F2A20C;
        font-family: ohno-fatface, serif;
        font-style: normal;
        font-weight: 900;
        padding-top: 40px;
        padding-left: 100px;
    }


    #menukort {
        display: block;
        width: 100vw;
        text-align: center;
        padding: 30px 0px;
    }

    #menukortknap {
        display: none;
    }

    #madmenukort.hidden {
        display: initial;
    }

    #madmenukort li {
        display: inline-block;
        padding-bottom: 10px;
        padding-top: 5px;
    }

    madmenukort {
        position: fixed;
        top: 0;
        width: 100%;
    }

    button.filter {
        width: 140px;
        padding: 15px 20px;
        margin: 5px 3px;
        border: 0;
        cursor: pointer;
        text-align: center;
    }
}

/*******MENUKORT NAVIGATION SLUT*********/


/*******RETTER*********/
#ret {
    border: 1.5px solid #f4f4f4;
    margin: 10px;
}

#ret img {
    box-shadow: 0px 0px 15px 0px rgba(179, 179, 179, 1);
    width: 100%;
}

#ret h2 {
    font-family: pt-serif, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 10px 10px;
}

#ret .kort {
    font-family: pt-serif, sans-serif;
    font-size: 1rem;
    font-weight: 100;
    padding: 0px 10px;
    margin: 0;
}

#ret .pris {
    font-family: pt-serif, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: right;
    padding: 10px;
    padding-top: 10px;
    margin: 0;
    color: #F2A20C;
    text-align: right;
}

/*******FOOTER START*********/
footer {
    display: block;
    margin: 20px;
}

#kontakt {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}

#kontakt .adresse {
    display: block;
    font-family: pt-serif, sans-serif;
    background-color: #F2A20C;
}

#kontakt h3 {
    font-family: pt-serif, serif;
    padding-bottom: 15px;
}

#kontakt p {
    display: block;
    margin: 0 0 10px 0;
}

@media (min-width: 765px) {
    #kontakt {
        grid-template-columns: repeat(2, 1fr);
    }

    #kontakt .adresse {
        margin: 0px 10px;
        padding: 10px;
        border: solid 1px #f4f4f4;
        line-height: 20px;


    }
}
